@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Know about Company's Project Expenses</h1>
    <img src="~/Content/img/Cost.jpg" style="width:60%;height:50%;" />
    <p>There will extend costs related with building up your venture, including prototyping and statistical surveying costs. Your organization customer knows about this. All choices about what expenses to acquire must be made in interview with the essential organization contact and should be affirmed by the organization. Every choice is made dependent on examination of the expense and advantages. The extent of affirmed costs will rely upon the organization and the undertaking. A huge organization may pay $5,000 for an agreement machine shop to assemble parts for a model. Then again, a pre-new business may recoil from purchasing a $100 sensor expected to do seat testing of a plan thought.</p>
    <p>It is basic that venture costs be estimate and followed. Guaging implies that the group should know ahead of time what costs are coming up throughout the following not many months so everybody is readied. Following methods the group should know precisely what has been spent and what is left. Setting up an undertaking spending plan right off the bat in the Fall semester is a decent spot to begin.</p>
</div>

