@{ ViewData["Title"] = "Privacy Policy"; }
<h1>@ViewData["Title"]</h1>

<p>Our Services offer freely open web journals, networks and backing gatherings. If you don't mind know that any Personal Information you give in any such regions might be perused, gathered, and utilized by other people who access them. To demand expulsion of your Personal Information from our sites, networks or discussions, don't hesitate to reach us at: ABC123@com. Now and again, we will most likely be unable to eliminate your Personal Information from such zones. For instance, on the off chance that you utilize an outsider application to post a remark (e.g., the Facebook social module application) while signed in to your connected profile with such outsider, you should login into such application or contact its supplier on the off chance that you need to eliminate the Personal Information you posted on that stage..</p>

